html,
body,
#app {
    height: 100%;
    margin: 0;
}

#app{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.box {
    width: 150px;
    height: 60px;
    background: #ff0000;
    margin: 5px;
}